@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(https://wallpapers.com/images/hd/snake-game-1680-x-1050-background-6syqer1fr6oahe0b.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(169, 238, 169),rgb(231, 231, 142));
    height: 92vmin;
    width: 90vmin;
    border: 5px groove black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);

}
.head{
    background: linear-gradient(rgb(236, 145, 145),rgb(241, 241, 130));
    border: 2px solid rgb(54, 4, 54);
    transform: scale(1.02);
    border-radius: 9px;
}
.food{
background: linear-gradient(red,purple);
border: .25vmin solid black;
border-radius: 8px;
}
.Snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 8px;
}
#score{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Fredericka the Great", serif;
}
#highScore{
     position: absolute;
    top: 49px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Fredericka the Great", serif;
}

.buttons {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-row {
  display: flex;
  gap: 10px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 22px;
  border-radius: 50%;
  border: none;
  background-color: #333;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

button:active {
  background-color: #ffa4a4;
  transform: scale(0.95);
}
.levels {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 45px;
}

.levels button {
  padding: 8px 10px;
  border: none;
  background: linear-gradient(rgb(30, 77, 27),rgb(63, 219, 15));
  color: rgb(241, 229, 229);
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.levels button:hover {
  background-color: #f2ffd9;
}

@media (max-width: 600px) {
  #board {
    width: 95vmin;
    height: 95vmin;
  }
  .buttons button {
    width: 55px;
    height: 55px;
    font-size: 20px;
  }
  .levels button {
    padding: 6px 12px;
    font-size: 15px;
  }
  .score-container {
    flex-direction: column;
    align-items: center;
    
  }
  #score ,#highScore{
font-size:20px;
margin-top: 70px;

  }
}