@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(https://wallpapers.com/images/hd/snake-game-1680-x-1050-background-6syqer1fr6oahe0b.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(169, 238, 169),rgb(231, 231, 142));
    height: 92vmin;
    width: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);

}
.head{
    background: linear-gradient(rgb(236, 145, 145),rgb(241, 241, 130));
    border: 2px solid rgb(54, 4, 54);
    transform: scale(1.02);
    border-radius: 9px;
}
.food{
background: linear-gradient(red,purple);
border: .25vmin solid black;
border-radius: 8px;
}
.Snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 8px;
}
#score{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Fredericka the Great", serif;
}
#highScore{
     position: absolute;
    top: 49px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Fredericka the Great", serif;
}