#next{
    background-color: aquamarine;
    border-radius: 50px;
    position: absolute;
   
     right: 10px;
    top: 65%;

}
#pre{
    background-color: aquamarine;
     border-radius: 50px;
        position: absolute;
    left: 10px;
       top: 65%;

}
.container{
    position: relative;
     bottom: 50%;
     height: 200px;
     width: 500px;
}
